<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
  <body>
    好きにお話ししてください
    <div id="app">
      <ul>
        <li v-for="chat in chatLog">{{ chat }}</li>
      </ul>
      <div v-if="loading">
        <img src="./static/Preloader_1.gif" width="16"/>
        Now Loading...
      </div>
      <div v-else>
        <form @submit.prevent="postMessage">
          <input type="text" v-model="message" required autofocus>
          <input type="submit" value="post">
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>